.page__wrapper{
    margin: 30px;
    display: flex;
  }

  .page{
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
  }

  .page__current{
    border: 2px solid rgb(113, 229, 100); 
    font-weight: bold;
  }